* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

p {
  padding:0 5vw; 
  font: normal 4vw/2em 'Roboto Mono', monospace;
}

h1, h2, h3 {
  padding:0 5vw; 
  font: bold 10vw/2em 'Roboto Mono', monospace;
}

h2{
  font-size: 7vw;
}

h3 {
  font-size: 5vw;
}

.loading-spinner {
  height:100vh;
  width:100vw;
  position:absolute;
  top:0;
  left:0;
}

.loading-spinner::after {
  content: '...';
  width:50vw;
  height:50vh;
  line-height:50vh;
  font-size:10vw;
  text-align:center;
  position:absolute;
  left:25vw;
  top:25vh;
}

.top-brackets {
  position:absolute;
  top: 0;
  width:100%;
}

.top-brackets:before {
  content:'';
  width: 2vw;
  height:2vw;
  position:absolute;
  border-top:1px solid black;
  border-left: 1px solid black;
  left:1vw;
  top:1vw;
}

.top-brackets:after {
  content:'';
  width: 2vw;
  height:2vw;
  position:absolute;
  right:1vw;
  top:1vw;
  border-top:1px solid black;
  border-right: 1px solid black;
}

.bottom-brackets {
  position:absolute;
  bottom:0;
  width:100%;
}

.bottom-brackets:before {
  content:'';
  width: 2vw;
  height:2vw;
  position:absolute;
  border-bottom:1px solid black;
  border-left: 1px solid black;
  left:1vw;
  bottom:1vw;
}

.bottom-brackets:after {
  content:'';
  width: 2vw;
  height:2vw;
  position:absolute;
  right:1vw;
  bottom:1vw;
  border-bottom:1px solid black;
  border-right: 1px solid black;
}

nav {
  height:12vh;
  position: fixed;
  top:0; 
  left:0;
  width:100vw;
  background-color: white;
  z-index: 10;
}

.menu {
  height:100vh;
  width: 60vw;
  background-color:white;
  border-left: 1vw solid black;
  position:absolute;
  right:0;
  animation: slideout .2s linear;
  background-color:white;
  z-index:10
}

.closed {
  animation: slideIn .2s linear;
  right: -60vw;
}

.menu ul {
  margin-top:14vh;
}

.menu li{
  list-style-type: none;
  padding:5vw
}

.menu a {
  color: black;
  text-decoration:none;
  font: normal 5vw/5vw 'Roboto Mono', monospace;
}

.menu .selected {
  color:white;
  background-color:black;
}

.menu .selected a {
  color:white;
}

@keyframes slideout {
  0% {right: -60vw;}
  100% { right: 0;}
}

@keyframes slideIn {
  0% { right: 0;}
  100% {right: -60vw;}
}

.nav-icon {
  width: 8vh;
  position: absolute;
  right: 4vw;
  top: 4vw;
  height: 8vh;
  z-index: 1000;
}

.nav-icon svg {
  position: absolute;
  height: 20%;
  width: 100%;
}

.nav-icon svg:nth-of-type(2) {
  top: 40%
}

.nav-icon svg:nth-of-type(3) {
  bottom: 0;
}

.open svg {
  transform:rotate(45deg);
  top: 35%;
}

.open svg:nth-of-type(2) {
  transform: rotate(-45deg);
  top: 35%;
}

.opening svg {
  animation: openingLeft .2s linear;
}

.opening svg:nth-of-type(1){
  animation: opening .2s linear;
}

.closing svg {
  animation: closingLeft .2s linear
}

.closing svg:nth-of-type(1){
  animation: closing .2s linear;
}

@keyframes opening {
  0% {
    transform: rotate(0deg);
    top: 0;
  }

  100%{
    transform: rotate(45deg);
    top: 35%;
  }
}

@keyframes openingLeft{
    0% {
    transform: rotate(0);
    bottom:0;
  }

  100%{
    transform: rotate(-45deg);
    bottom: 65%;
  }
}


@keyframes closing {
  0%{
    transform: rotate(45deg);
    top: 35%;
  }
  
  100% {
    transform: rotate(0deg);
    top: 0;
  }
}

@keyframes closingLeft{
  0%{
    transform: rotate(-45deg);
    bottom: 65%;
  }
  
  100% {
    transform: rotate(0);
    bottom:0;
  }
}

main{
  position: absolute;
  width: 100vw;
  height: 88vh;
  top: 12vh;
  padding-top: 2vh;
}

.content {
  height:88vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
}

/*---------- Gallery ---------*/
.thumbnail{
  height:23vw;
  width:23vw;
  background-color:black;
  position: relative;
  margin-bottom: 3vw;
}

.thumbnail:before{
  content: '';
  width: 6vw; 
  height:25vw;
  position:absolute;
  left: 8.5vw; 
  top: -1vw;
  background-color:white;
  z-index:1
}

.thumbnail img{
  width:15vw;
  position:relative;
  margin: 4vw;
  z-index: 10
}

.thumbnail img:hover{
  cursor:pointer;
}

.portrait {
  width: 15vw;
}

.landscape {
  height:100%;
}

.gallery {
  display: flex;
  justify-content: space-between;
  margin: 5vw ;
  flex-wrap: wrap;
}

.modal {
  height:100vh;
  width:100vw;
  position: fixed;
  top:0;
  background-color: black;
  z-index:1000;
  color:white;
}

.modal button {
  position:absolute;
  height:10vw;
  width:10vw;
  top: 5vw;
  right:5vw;
  font: bold 2.4em/8vw 'Roboto Mono', monospace;
  background-color: transparent;
  border:none;
  color:white;
}

.modal button:before, .modal button:after {
  content: '';
  position:absolute;
  height:10vw;
  width:2vw;
  border: 2vw solid white;
  border-right:none;
  left:-2vw;
  top:-2vw;
  z-index:1000
}

.modal button:after {
  left:auto;
  right:-2vw;
  border: 2vw solid white;
  border-left:none;
}

.modal img {
  max-width:94vw;
  margin:0 3vw 5vw;
}

.modal-content{
  margin-top: 20vw;
  overflow:scroll;
  height:calc(100vh - 20vw);
  padding-bottom:5vw;
}

.modal h2, .modal h3, .modal p {
  margin: 0 3vw;
}

.svg {
  width:33vw;
}

.specs {
  display: flex;
  position: relative;
  width: 100vw;
}

.specs div {
  width:66vw;
}

.specs p, label{
  font: normal 3vw/1.6em 'Roboto Mono', monospace;
}

/*------------------- Contact -------------------*/
form{
  padding:4vw
}

label {
  font: bold 5vw/1.6em 'Roboto Mono', monospace;
  display:block;
}

input, textarea {
  width: 100%;
  margin-bottom:4vw;
  height: 10vw;
  border: none;
  border-bottom:1vw solid black;
  font: normal 3vw/1.6em 'Roboto Mono', monospace;
}

input:focus, textarea:focus {
  outline: none;
}

form button {
  box-sizing: content-box;
  padding: 3vw;
  background-color: transparent;
  border:1vw solid black;
  font: bold 5vw/1.6em 'Roboto Mono', monospace;
  width:18vw;
}

button.submitting {
  background-color: black;
  color:white;
  width:10vw;
  animation: shrink .2s linear;
}

button.submitFailure, button.submitSuccess {
  width: calc(100% - 8vw);
  color: white;
  background-color: black;
  animation: grow .2s linear;
}

@keyframes grow {
  0% {
    width:10vw;
  }

  100% {
    width:100%;
  }
}

@keyframes shrink{
  0% {
    width: 18vw;
  }

  100% {
    width:10vw;
  }
}

/*------ Loading ------*/
.loading{
  outline:1px solid red;
  height:100vh;
  width:100vw;
  position:fixed;
  top: 0;
  left:0;

  z-index:10000;
  text-align:center;
  font-size:3em;
  padding-top: 50vh;
}


main {
  max-width: 1024px;
  margin: 0 auto;
}

.blur {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index:1000;
  filter: blur(.25em);
}



